.container {
  position: relative;
  height: 20%;
  width: 75%;
  /*background-image: url('/images/backgroundImages/Pop_genre.jpg');
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 */
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
}

.black_cover {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.genre_name_text {
  color: white;
  font-family: var(--font-inter);
  font-size: 32px;
  font-weight: 300;
  margin: 0;
}