.container {
  position: relative;
  max-width: 250px;
  min-width: 224px;
}

.image{
  position: relative !important;
}

.black_cover {
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 2px;
  background-color: rgba(0, 0, 0, 0.6);

  display: flex;
  flex-flow: column nowrap;
  gap: .2em;
  padding: 0em .5em 0em .5em;
}

.name_text{ 
  color: white;
  font-size: 19px;
  font-family: var(--font-inter);
  font-weight: 200;
  margin: 0;
}

.performer_text {
  color: white;
  font-size: 16px;
  font-family: var(--font-inter);
  font-weight: 10;  
  margin: 0;
}