html,
body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: none;
    transition: 0.2s ease;
}

::-webkit-scrollbar-track {
    border-radius: 50px;
    margin: 1em 0;
    background-color: none;
}

::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-color: var(--gray-normal);
}

:root {
    --navy-blue-50: #f1f2ff;
    --navy-blue-100: #e6e5ff;
    --navy-blue-200: #ceceff;
    --navy-blue-300: #aaa7ff;
    --navy-blue-400: #8176ff;
    --navy-blue-500: #593fff;
    --navy-blue-600: #4418ff;
    --navy-blue-700: #3407fa;
    --navy-blue-800: #2b05d2;
    --navy-blue-900: #2506ac;
    --navy-blue-950: #12007afa;

    --tolopea-50: #e4e4ff;
    --tolopea-100: #d2cfff;
    --tolopea-200: #afa8ff;
    --tolopea-300: #8474ff;
    --tolopea-400: #693eff;
    --tolopea-500: #5e13ff;
    --tolopea-600: #5800ff;
    --tolopea-700: #5800ff;
    --tolopea-800: #4e00e4;
    --tolopea-900: #4300b0;
    --tolopea-950: #18003b;
    --tolopea-opacity-500: #5e13ffa0;
    
}