.links_container {
    width: auto;
    height: 80vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1em;
    padding: 1em 2em .5em 0em;
}

.links_container>li {
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    color: rgb(252, 252, 252);
    font-size: 19px;
    font-family: Helvatica;
    padding: 0em 0em 0em .5em;
    border-bottom: 2px solid transparent;
}

.links_container>li:hover {
    scale: 110%;
    color: rgb(140, 0, 255);
    transition: 500ms all;
    border-bottom: 2px solid rgb(140, 0, 255);    
    -webkit-transition: 500ms all;
    -moz-transition: 500ms all;
    -ms-transition: 500ms all;
    -o-transition: 500ms all;
}

.rainbow_text {
    color: rgb(229, 36, 255);
    background: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    font-weight: 700;
}