.sign_image_container{
    background-color: var(--navy-blue-300);
    display: flex;
    justify-content: center;
    align-items: center ;
    position: relative;
}

.img_container{
    
}

.form_container{
    width: 80%;
    height: 80vh;
    display: flex;
    flex-flow: column nowrap;
    padding: 1em;
    justify-content: center;
}

.inputs_container{
    display: flex;
    flex-flow: column nowrap;
    gap: 1em;
}