.sign_image_container{
    display: flex;
    justify-content: center;
    align-items: center ;
    position: relative;
    height: 100vh;
}

.image{
    width: 600px;
    height: auto;
    position:relative;
}

.image> img{
    object-fit: cover;
}

.form_container{
    width: 80%;
    height: 80vh;
    display: flex;
    flex-flow: column nowrap;
    gap: 1em;
    padding: 1em;
    justify-content: center;
}

.inputs_container{
    display: flex;
    flex-flow: column nowrap;
    gap: 1em;
}

.sign_in_tittle{
    font-size: 48px;
    font-family: var(--font-kaushan);
    font-weight: bolder;
    letter-spacing: 1px;
    align-self: center;
    margin-bottom: .5em;
    text-align: center;
}

.send_btn{
    font-size: 14px;
    height: auto;
    width: 40%;
    border-style: none;
    cursor: pointer;
    background-color: #9e5fe1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    letter-spacing: .8px;
    color: white;
    align-self: center;
    border-radius: 3em;
    -webkit-border-radius: 3em;
    -moz-border-radius: 3em;
    -ms-border-radius: 3em;
    -o-border-radius: 3em;
}

.send_btn:hover{
    transform: scale(102%);
    -webkit-transform: scale(102%);
    -moz-transform: scale(102%);
    -ms-transform: scale(102%);
    -o-transform: scale(102%);
    transition: 300ms all ;
    -webkit-transition: 300ms all ;
    -moz-transition: 300ms all ;
    -ms-transition: 300ms all ;
    -o-transition: 300ms all ;
}

.sign_forgot_text{
    text-align: center;
    font-size: 16px;
    font-family: var(--font-roboto);
    letter-spacing: .8px;
    align-self: center;
    margin-bottom: 1em;
}

.sign_forgot_text:hover{
    transition: 300ms all;
    color: rgba(0, 68, 255, 0.405);
    cursor: pointer;
    transform: scale(101%);
    -webkit-transform: scale(101%);
    -moz-transform: scale(101%);
    -ms-transform: scale(101%);
    -o-transform: scale(101%);
    -webkit-transition: 300ms all;
    -moz-transition: 300ms all;
    -ms-transition: 300ms all;
    -o-transition: 300ms all;
}

.info_text{
    text-align: center;
    font-size: 16px;
    font-family: var(--font-roboto);
    letter-spacing: .8px;
    align-self: center;
}

.social_media{
    display: flex;
    flex-flow: column nowrap;
    gap: 1em;
}

.icons_container{
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
    gap: 3em;
}