.input_container{
    display: flex;
    flex-flow: column nowrap;
    padding: 0em 1em;
    transition: 300ms all;
    -webkit-transition: 300ms all;
    -moz-transition: 300ms all;
    -ms-transition: 300ms all;
    -o-transition: 300ms all;
}

.input:focus{
    border: 2px solid rgb(98, 0, 255);
}
