.form_container {
    display: flex;
    flex-flow: column nowrap;
    gap: 1em;
    background-color:#130f7aff;
    background-color:rgba(19, 15, 122, 0.604);
    height: unset;
    max-height: 600px;
    width: fit-content;
    min-width: 300px;
    padding: 1em;
    border-radius: 2em;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    -ms-border-radius: 2em;
    -o-border-radius: 2em;
   
}

.image {
    position: unset !important;
}

.rainbow_text {
    font-size: 2em;
    background-image: linear-gradient(to left, #F26699, #A599C5, #EE05F2);
    -webkit-background-clip: text;
    color: transparent;
    text-align: center !important;
    width: 100%;
}