.cover_image{
  position: absolute !important;
  z-index: 1;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 0em 0em 0em 5em;
  display: flex;
  align-items: center;
}

.content_text {
  color: white;
  font-family: var(--font-inter);
  font-size: 16px;
  font-weight: 100;
  width: 40%;
  margin: 0;
}
