.card_container {
   display: flex;
   flex-flow: column nowrap;
   align-items: center;
   position: relative !important;
   height: auto;
   background-color: rgb(211, 213, 248);
   padding: 1em;
   border-radius: 1rem;
   gap: .5em;
   box-shadow: 1px 1px 2px #202020a1;
   -webkit-border-radius: 1rem;
   -moz-border-radius: 1rem;
   -ms-border-radius: 1rem;
   -o-border-radius: 1rem;
}

.card_container:hover {
    cursor: pointer;
    transition: 500ms all;
    transform: scale(103%);
    -webkit-transform: scale(103%);
    -moz-transform: scale(103%);
    -ms-transform: scale(103%);
    -o-transform: scale(103%);
    -webkit-transition: 500ms all;
    -moz-transition: 500ms all;
    -ms-transition: 500ms all;
    -o-transition: 500ms all;
}

.song_title {
    font-size: 20px;
    font-family: var(--font-roboto);
    margin: 0;
    padding: 0;
    font-weight: 700;
}

.song_artist {
    font-size: 14px;
    font-family: var(--font-roboto);
    margin: 0;
    padding: 0;
    font-weight: 500;
}

.next_image{
    position: relative !important;
    border-radius: .7em;
    -webkit-border-radius: .7em;
    -moz-border-radius: .7em;
    -ms-border-radius: .7em;
    -o-border-radius: .7em;
    border: 5px solid rgb(255, 255, 255);
}

.image_container {
    width: 90%;
    min-width: 80%;
    border-radius: .9em;
    -webkit-border-radius: .9em;
    -moz-border-radius: .9em;
    -ms-border-radius: .9em;
    -o-border-radius: .9em;
}

.info_container {
    display: flex;
    flex-flow: column;
    gap: 0;
    width: 50%;
}

.fav_icon_container {
    display: flex;
    justify-content: flex-end;
    width: 50%;
}